<section id="main-content">
  	<section class="wrapper">
  		<h1> Ajouter un partenaire </h1>
  		<div class="row">
  			<form class="col-md-6">
      			<div class="form-group">
        			<label>Nom du centre</label>
        			<input type="texte" id="partner-input" class="form-control" name="actuTexte" placeholder="Texte">
     	 		</div>
	    	</form>
	    	<div class="content-field col-md-6 hidden">
	    		<img src=""/>
	    		<p></p>
	    	</div>
	    </div>
	    	<form class="next-stage hidden" action="/admin/addPartner" method="POST">
            <button type="button" class="btn btn-info btn-lg btn-comis" data-toggle="modal" data-target="#modalComis">
                    Commissions
            </button>
	    		<input class="id-partner" name="fieldId" type="hidden" value=""/>
                <input id="value-comis" name="comis" type="hidden" value=""/>
	    		<div class="row">
	    			<div class="form-group col-md-6">
        				<label class="col">Nombre de terrain indoor</label>
        				<input type="number" class="form-control nb-field" name="nbIndoor" placeholder="Texte">
        			</div>
        			<div class="form-group col-md-6">
        				<label class="col">Nombre de terrain outdoor</label>
        				<input type="number" class="form-control nb-field" name="nbOutdoor" placeholder="Texte">
     	 			</div>
     	 		</div>
     	 		<div class="row">
     	 			<div class="form-group col-md-6">
        				<label class="col">Prix Base Indoor</label>
        				<input type="number" class="form-control nb-field" name="prixIndoor" placeholder="Texte">
        			</div>
        			 <div class="form-group col-md-6 partner-prices">
        				<label class="col">Prix Base Outdoor</label>
        				<input type="number" class="form-control nb-field" name="prixOutdoor" placeholder="Texte">
        			</div>
        		</div>
	     	 	<div class="row">
	     	 		<div class="form-group days day1 hidden">
	     	 		    <div class='form-group row'>
                        <div class="row">
                            <div class='form-group col-md-6'>
                               <label class='col'>Prix Indoor</label>
                               <input name="prixIndoor1" class="form-control nb-field"/>
                             </div>
                            <div class='form-group col-md-6'>
                                <label class='col'>Prix Outdoor</label>
                                <input name="prixOutdoor1" class="form-control nb-field"/>
                            </div>
                        </div>
	     	 			</div>
	     	 			<div class="col">
        					<input type="checkbox" name="day1" value="2"/> Lundi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day1" value="3"/> Mardi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day1" value="5"/> Mercredi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day1" value="7"/> Jeudi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day1" value="11"/> Vendredi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day1" value="13"/> Samedi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day1" value="17"/> Dimanche
        				</div> 
        				<div class="col-md-6">     				       				
        					<p>Debut - Fin</p>
        					<input class="form-control partner-time" name="time1Start" type="time">
        					<input class="form-control partner-time" name="time1End" type="time">
        				</div>
        			</div>
                </div>
                <div class="row">
        			<div class="form-group days day2 hidden">
                        <div class="row">
        				    <div class='form-group col-md-6'>
        					   <label class='col'>Prix Indoor</label>
        					   <input name="prixIndoor2" class="form-control nb-field"/>
	     	 			     </div>
                            <div class='form-group col-md-6'>
                                <label class='col'>Prix Outdoor</label>
                                <input name="prixOutdoor2" class="form-control nb-field"/>
                            </div>
                        </div>
	     	 			<div class="col">
        					<input type="checkbox" name="day2" value="2"/> Lundi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day2" value="3"/> Mardi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day2" value="5"/> Mercredi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day2" value="7"/> Jeudi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day2" value="11"/> Vendredi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day2" value="13"/> Samedi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day2" value="17"/> Dimanche
        				</div> 
        				<div class="col-md-6">     				       				
        					<p>Debut - Fin</p>
        					<input class="form-control partner-time" name="time2Start" type="time">
        					<input class="form-control partner-time" name="time2End" type="time">
        				</div>
        			</div>
                </div>
                <div class="row">
        			<div class="form-group days day3 hidden">
                        <div class="row">
                            <div class='form-group col-md-6'>
                               <label class='col'>Prix Indoor</label>
                               <input name="prixIndoor3" class="form-control nb-field"/>
                             </div>
                            <div class='form-group col-md-6'>
                                <label class='col'>Prix Outdoor</label>
                                <input name="prixOutdoor3" class="form-control nb-field"/>
                            </div>
                        </div>
	     	 			<div class="col">
        					<input type="checkbox" name="day3" value="2"/> Lundi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day3" value="3"/> Mardi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day3" value="5"/> Mercredi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day3" value="7"/> Jeudi
        				</div>
         				<div class="col">
        					<input type="checkbox" name="day3" value="11"/> Vendredi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day3" value="13"/> Samedi
        				</div>
        				<div class="col">
        					<input type="checkbox" name="day3" value="17"/> Dimanche
        				</div> 
        				<div class="col-md-6">     				       				
        					<p>Debut - Fin</p>
        					<input class="form-control partner-time" name="time3Start" type="time">
        					<input class="form-control partner-time" name="time3End" type="time">
        				</div>
        			</div>
	     	 	</div>
                <button type="submit" class="btn btn-success">Créer</button>
	    	</form>
	    	<button onclick="addPrice()" class="btn btn-primary hidden partner-prices-button"><i class="fa fa-plus-circle"></i> Ajouter un prix</button>
	    </div>
  	</section>
</section>

                <!-- MODAL RESERVATION -->
                    <div class="modal fade" id="modalComis">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Enregistrer les taux de comissions (en %)</h4>
                                </div>
                                <div class="modal-body">
                                    <table width="80%" align="center" class="table-comis" >
                                        <div id="head_nav">
                                            <tr>
                                                <th>Horaire</th>
                                                <th>Lundi</th>
                                                <th>Mardi</th>
                                                <th>Mercredi</th>
                                                <th>Jeudi</th>
                                                <th>Vendredi</th>
                                                <th>Samedi</th>
                                                <th>Dimanche</th>
                                            </tr>
                                        </div>  
                                        <tr>
                                            <th>8h-12h</th>

                                            <td><input type="number" value="0" data-day="1" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="2" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="3" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="4" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="5" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="6" data-hour="matin"/></td>
                                            <td><input type="number" value="0" data-day="0" data-hour="matin"/></td>
                                    </tr>
                                    <tr>
                                        <th>12h-14h</th>
                                            <td><input type="number" value="0" data-day="1" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="2" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="3" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="4" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="5" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="6" data-hour="midi"/></td>
                                            <td><input type="number" value="0" data-day="0" data-hour="midi"/></td>
                                    </tr>

                                    <tr>
                                        <th>14h-18h</th>
                                            <td><input type="number" value="0" data-day="1" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="2" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="3" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="4" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="5" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="6" data-hour="aprem"></input></td>
                                            <td><input type="number" value="0" data-day="0" data-hour="aprem"></input></td>
                                    </tr>

                                    <tr>
                                        <th>18h-2h</th>
                                            <td><input type="number" value="0" data-day="1" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="2" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="3" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="4" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="5" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="6" data-hour="soir"></input></td>
                                            <td><input type="number" value="0" data-day="0" data-hour="soir"></input></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Fermer</button>
                                <button type="button" id="save-comis" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MODAL -->

<script src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/lodash.js"></script>
 <script src="/scripts/partner.js"></script>