<section id="main-content">
  	<section class="wrapper">
  		<h1> Ajouter un partenaire </h1>
  		<form>
      		<div class="form-group">
        		<label>Nom du centre</label>
        		<input type="texte" id="partner-input" class="form-control partner-input" name="actuTexte" placeholder="Texte">
     	 	</div>
	    </form>
  	</section>
</section>
<script src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/lodash.js"></script>
 <script src="/scripts/partner.js"></script>