<p> Bonjour, </p>
<br/>
<p>Une réservation vient juste d'être effectuée dans le centre <%= recipientName %> le <%= resaDate%>.</p>
<p> En cas de problème vous pouvez contacter wefoot à tout moment, (contact@wefoot.co), ou vous adresser directement à l'auteur de la réservation : <strong><%= resa.userName %> <%= resa.userPhone %></strong>.</p>

<em> Merci de votre confiance, <br><br><br>
	Cordialement,<br>
	L'équipe Wefoot </em>
